__pycache__/*
basemodels/__pycache__/*
configurations/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
gpuutils.egg-info
gpuutils.egg-info/*
gpuutils/__pycache__
gpuutils/__pycache__/*